/* Main CSS Document */
/* This one has global settings that affect ALL pages */

/* Note this document contains css media querys to allow for dark theme */
/* meta tags for other devices  */

/* GLOBAL */
body {
    font-family: new-order, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;'
    rotate: 1deg;'
}


@media (prefers-color-scheme: dark) {
body {
    background-color: #111;
    color: #FFFFFF;
}}

/* Header */
header {
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 1000px) {
header{
    padding-left: 8px;
    padding-right: 8px;
}}

/* MAIN */
main {
    padding-left : 10%;
    padding-right: 10%;
}

@media (max-width: 1000px) {
main{
    padding-left: 8px;
    padding-right: 8px;

}}

/* Flashes for errors */
.flashes {
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* NAV */
nav {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    background-color: #222
}


/* FOOTER */

footer {
    background-color: #d3d3d3;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
footer {
    background-color: #333;
}}

